USE [AtelierSarkanyDB]
GO
/****** Object:  Table [dbo].[Calzado]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calzado](
	[id] [int] NOT NULL,
	[numero] [decimal](4, 1) NULL,
	[categoria] [varchar](50) NULL,
	[stockMinimo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reservaId] [int] NULL,
	[fechaHora] [datetime] NULL,
	[tipoEstado] [varchar](50) NULL,
	[observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[dni] [varchar](10) NULL,
	[email] [varchar](150) NULL,
	[telefono] [varchar](50) NULL,
	[fechaRegistro] [datetime] NULL,
 CONSTRAINT [PK__Cliente__3213E83F23BC2B1B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlStock]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlStock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[productoId] [int] NULL,
	[tipoMovimiento] [varchar](50) NULL,
	[cantidadAnterior] [int] NULL,
	[cantidadActual] [int] NULL,
	[motivo] [varchar](255) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ventaId] [int] NULL,
	[productoId] [int] NULL,
	[cantidad] [int] NULL,
	[precioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NULL,
	[monto] [decimal](10, 2) NULL,
	[medioPago] [varchar](50) NULL,
	[tipoPago] [varchar](50) NULL,
	[reservaId] [int] NULL,
	[ventaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoProducto] [varchar](50) NULL,
	[nombre] [varchar](100) NULL,
	[descripcion] [text] NULL,
	[modelo] [varchar](100) NULL,
	[color] [varchar](50) NULL,
	[temporada] [varchar](50) NULL,
	[precio] [decimal](10, 2) NULL,
	[stock] [int] NULL,
	[fechaCreacion] [datetime] NULL,
	[fechaUltimaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clienteId] [int] NULL,
	[vestidoId] [int] NULL,
	[fechaReserva] [datetime] NULL,
	[fechaExpiracion] [datetime] NULL,
	[montoReservado] [decimal](10, 2) NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clienteId] [int] NULL,
	[fecha] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
	[estado] [varchar](50) NULL,
	[metodoPago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vestido]    Script Date: 9/7/2025 1:39:40 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vestido](
	[id] [int] NOT NULL,
	[talle] [nvarchar](10) NULL,
	[disenador] [nvarchar](100) NULL,
	[estado] [varchar](50) NULL,
	[tiempoAjusteHoras] [int] NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[es_unico] [bit] NULL,
	[fecha_ultimo_ajuste] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Calzado] ([id], [numero], [categoria], [stockMinimo]) VALUES (3, CAST(38.5 AS Decimal(4, 1)), N'Fiesta', 2)
GO
SET IDENTITY_INSERT [dbo].[Cita] ON 

INSERT [dbo].[Cita] ([id], [reservaId], [fechaHora], [tipoEstado], [observaciones]) VALUES (1, 1, CAST(N'2025-06-19T01:22:10.570' AS DateTime), N'Pendiente', N'trabaja')
INSERT [dbo].[Cita] ([id], [reservaId], [fechaHora], [tipoEstado], [observaciones]) VALUES (2, 1, CAST(N'2025-06-19T01:22:10.570' AS DateTime), N'Pendiente', N'trabaja')
INSERT [dbo].[Cita] ([id], [reservaId], [fechaHora], [tipoEstado], [observaciones]) VALUES (3, 1, CAST(N'2025-06-18T01:22:10.570' AS DateTime), N'Confirmada', N'llega')
SET IDENTITY_INSERT [dbo].[Cita] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [dni], [email], [telefono], [fechaRegistro]) VALUES (1, N'Mónica', N'Gutiérrez', N'33333333', N'monica@example.com', N'2234567890', CAST(N'2025-06-17T00:44:09.847' AS DateTime))
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [dni], [email], [telefono], [fechaRegistro]) VALUES (2, N'Luciano', N'Nieto', N'22222222', N'luciano@example.com', N'112233457', CAST(N'2025-06-17T00:44:09.847' AS DateTime))
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [dni], [email], [telefono], [fechaRegistro]) VALUES (3, N'Santiago', N'Palomino', N'37378378', N'santiago@example.com', N'1144556677', CAST(N'2025-06-17T00:44:09.847' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([id], [ventaId], [productoId], [cantidad], [precioUnitario]) VALUES (1, 1, 2, 3, CAST(45000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id], [tipoProducto], [nombre], [descripcion], [modelo], [color], [temporada], [precio], [stock], [fechaCreacion], [fechaUltimaModificacion]) VALUES (1, N'Vestido', N'Vestido Gala', N'Vestido largo elegante', N'VG2024', N'Rojo', N'Verano', CAST(50000.00 AS Decimal(10, 2)), 5, CAST(N'2025-06-17T00:45:37.257' AS DateTime), CAST(N'2025-06-17T00:45:37.257' AS DateTime))
INSERT [dbo].[Producto] ([id], [tipoProducto], [nombre], [descripcion], [modelo], [color], [temporada], [precio], [stock], [fechaCreacion], [fechaUltimaModificacion]) VALUES (2, N'Vestido', N'Vestido Coctel', N'Vestido corto para eventos', N'VC2024', N'Negro', N'Otoño', CAST(45000.00 AS Decimal(10, 2)), 3, CAST(N'2025-06-17T00:45:37.257' AS DateTime), CAST(N'2025-06-17T00:45:37.257' AS DateTime))
INSERT [dbo].[Producto] ([id], [tipoProducto], [nombre], [descripcion], [modelo], [color], [temporada], [precio], [stock], [fechaCreacion], [fechaUltimaModificacion]) VALUES (3, N'Calzado', N'Zapato Fiesta', N'Zapato con taco alto', N'ZF2024', N'Dorado', N'Invierno', CAST(38000.00 AS Decimal(10, 2)), 10, CAST(N'2025-06-17T00:45:37.257' AS DateTime), CAST(N'2025-06-17T00:45:37.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([id], [clienteId], [vestidoId], [fechaReserva], [fechaExpiracion], [montoReservado], [estado]) VALUES (1, 1, 1, CAST(N'2025-06-17T00:59:20.207' AS DateTime), CAST(N'2025-06-24T00:59:20.207' AS DateTime), CAST(25000.00 AS Decimal(10, 2)), N'Activa')
INSERT [dbo].[Reserva] ([id], [clienteId], [vestidoId], [fechaReserva], [fechaExpiracion], [montoReservado], [estado]) VALUES (2, 2, 2, CAST(N'2025-06-19T00:00:00.000' AS DateTime), CAST(N'2025-06-20T00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(10, 2)), N'Activa')
INSERT [dbo].[Reserva] ([id], [clienteId], [vestidoId], [fechaReserva], [fechaExpiracion], [montoReservado], [estado]) VALUES (3, 2, 2, CAST(N'2025-06-19T00:00:00.000' AS DateTime), CAST(N'2025-06-20T00:00:00.000' AS DateTime), CAST(10000.00 AS Decimal(10, 2)), N'Activa')
SET IDENTITY_INSERT [dbo].[Reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([id], [clienteId], [fecha], [total], [estado], [metodoPago]) VALUES (1, 3, CAST(N'2025-06-17T02:32:29.590' AS DateTime), CAST(135000.00 AS Decimal(10, 2)), N'Finalizada', N'Efectivo')
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
INSERT [dbo].[Vestido] ([id], [talle], [disenador], [estado], [tiempoAjusteHoras], [nombre], [es_unico], [fecha_ultimo_ajuste]) VALUES (1, N'M', N'Laura Pardo', N'Disponible', 3, N'SIN NOMBRE', NULL, NULL)
INSERT [dbo].[Vestido] ([id], [talle], [disenador], [estado], [tiempoAjusteHoras], [nombre], [es_unico], [fecha_ultimo_ajuste]) VALUES (2, N'S', N'Carla Ruiz', N'Disponible', 2, N'SIN NOMBRE', NULL, NULL)
INSERT [dbo].[Vestido] ([id], [talle], [disenador], [estado], [tiempoAjusteHoras], [nombre], [es_unico], [fecha_ultimo_ajuste]) VALUES (8, N'M', N'Sarkany', N'DISPONIBLE', 24, N'Vestido Luna', 1, CAST(N'2025-07-08T20:05:03.180' AS DateTime))
GO
ALTER TABLE [dbo].[Vestido] ADD  DEFAULT ('SIN NOMBRE') FOR [nombre]
GO
ALTER TABLE [dbo].[Vestido] ADD  DEFAULT ((1)) FOR [es_unico]
GO
ALTER TABLE [dbo].[Calzado]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Calzado]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD FOREIGN KEY([reservaId])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD FOREIGN KEY([reservaId])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[ControlStock]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[ControlStock]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([productoId])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([ventaId])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([ventaId])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([reservaId])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([reservaId])
REFERENCES [dbo].[Reserva] ([id])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([ventaId])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([ventaId])
REFERENCES [dbo].[Venta] ([id])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK__Reserva__cliente__5165187F] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK__Reserva__cliente__5165187F]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK__Reserva__cliente__6B24EA82] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK__Reserva__cliente__6B24EA82]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([vestidoId])
REFERENCES [dbo].[Vestido] ([id])
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD FOREIGN KEY([vestidoId])
REFERENCES [dbo].[Vestido] ([id])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK__Venta__clienteId__534D60F1] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK__Venta__clienteId__534D60F1]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK__Venta__clienteId__6D0D32F4] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK__Venta__clienteId__6D0D32F4]
GO
ALTER TABLE [dbo].[Vestido]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Vestido]  WITH CHECK ADD FOREIGN KEY([id])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD CHECK  (([reservaId] IS NOT NULL OR [ventaId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD CHECK  (([reservaId] IS NOT NULL OR [ventaId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD CHECK  (([tipoProducto]='Calzado' OR [tipoProducto]='Vestido'))
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD CHECK  (([tipoProducto]='Calzado' OR [tipoProducto]='Vestido'))
GO
ALTER TABLE [dbo].[Vestido]  WITH CHECK ADD  CONSTRAINT [CHK_EstadoVestido_Valido] CHECK  (([estado]='DADO DE BAJA' OR [estado]='EN REVISIÓN' OR [estado]='DEVUELTO' OR [estado]='EN LAVADO' OR [estado]='VENDIDO' OR [estado]='EN AJUSTE' OR [estado]='RESERVADO' OR [estado]='DISPONIBLE'))
GO
ALTER TABLE [dbo].[Vestido] CHECK CONSTRAINT [CHK_EstadoVestido_Valido]
GO
