<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SarkanyDB" connectionString="Data Source=LAPTOP-N14ABOPA\SQLEXPRESS;Initial Catalog=AtelierSarkanyDB;Integrated Security=True;Trust Server Certificate=True"
            providerName="" />
    </connectionStrings>
</configuration>