<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- Aquí podés definir secciones personalizadas si las necesitás -->
	</configSections>

	<connectionStrings>
		<!-- Cadena de conexión principal -->
		<add
		  name="AtelierSarkany"
		  connectionString="Data Source=LAPTOP-N14ABOPA\SQLEXPRESS;Initial Catalog=AtelierSarkany;Integrated Security=True;Trust Server Certificate=True" />

		<!-- BD moni (alternativa, descomenta si la necesitás) -->
		<!--
    <add
      name="SarkanyDB"
      connectionString="Data Source=LAPTOP-N14ABOPA\SQLEXPRESS;Initial Catalog=AtelierSarkanyDB;Integrated Security=True;Trust Server Certificate=True" />
    -->
	</connectionStrings>
</configuration>
